.ward {
	display: flex;
	.ward-menu {
		flex-basis: 40%;
	}
}
.ward_patient {
    display: flex;
	align-items: center;
	transition: 0.3s ease;
	padding: 8px;
	cursor: pointer;

	.ward_patient--info {
		flex: 1;
	}

	&:hover {
		background-color: rgba(0,0,0,0.2);
	}

	&.active {
		background-color: rgba(0,0,0,0.2);
	}
}
